---
Language: Cpp
CompactNamespaces: false
IndentWidth: 4
UseTab: Never
IndentAccessModifiers: false
IndentCaseLabels: true
ColumnLimit: 120
NamespaceIndentation: None
AccessModifierOffset: -4
SortUsingDeclarations: true
FixNamespaceComments: true
SortIncludes: Never
ConstructorInitializerIndentWidth: 0
AllowShortIfStatementsOnASingleLine: Always

...
