/bazel-bin/
/bazel-out/
/bazel-tarracsh/
/bazel-testlogs/
/x64/
/.vs/
/tarracsh.vcxproj.filters
/tarracsh.sln.DotSettings.user
/tarracsh.vcxproj.user
/Debug/
/cmake-build-debug/
/cmake-build-release/

/output/digest.kapamd
/output/files.kapamd
/output/sp.string-pool
/test/x64/
/test/test.vcxproj.user
/cfdiff/x64/



/cmake/
/cmake-build-debug-mingw/
/cmake-build-debugarm64/
/cmake-build-debugx64/
/cmake-build-release-mingw/
/cmake-build-releasex64/
/cmake-build-releasexarm64/
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/

/vcpkg_installed/
/cmake-build-debug-clang16/
/cmake-build-debug-gcc/
/cmake-build-debug-macos/

/cfdiff/vcpkg_installed/
/cfdiff/cmake-build-debug-gcc/
/cfdiff/cmake-build-debug-gcc--13/
/cfdiff/cmake-build-debug-linux-gcc/
