/bazel-bin/
/bazel-out/
/bazel-tarracsh/
/bazel-testlogs/
/x64/
/.vs/
/tarracsh.vcxproj.filters
/tarracsh.sln.DotSettings.user
/tarracsh.vcxproj.user
/Debug/
/cmake-build-debug/

/output/digest.kapamd
/output/files.kapamd
/output/sp.string-pool
/test/x64/
/test/test.vcxproj.user
/cfdiff/x64/


/cmake-build-release/
