/bazel-bin/
/bazel-out/
/bazel-tarracsh/
/bazel-testlogs/
/x64/
/.vs/
/tarracsh.vcxproj.filters
/tarracsh.sln.DotSettings.user
/tarracsh.vcxproj.user
/Debug/
/output/digest.kapamd
/output/files.kapamd
/output/sp.string-pool
/test/x64/
/test/test.vcxproj.user
/out/
/vcpkg_installed/
